body{

margin:0;
font-family:Arial;

background:linear-gradient(
135deg,
#020617,
#0f172a,
#020617
);

color:white;

}


/* CONTACT */

.contact{

padding:80px 20px;
display:flex;
justify-content:center;

}

.contact-box{

width:420px;

background:rgba(15,23,42,0.6);

backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,0.1);

padding:40px;

border-radius:12px;

box-shadow:0 0 40px rgba(0,0,0,0.5);

}


.contact-box h5{

color:#64748b;
letter-spacing:2px;

}

.contact-box h2{

margin:10px 0;

}

.contact-box p{

color:#94a3b8;

margin-bottom:30px;

}


/* INPUT */

.input-group{

margin-bottom:20px;

display:flex;
flex-direction:column;

}

input,
textarea{

padding:14px;

background:#020617;

border:1px solid #334155;

border-radius:6px;

color:white;

outline:none;

transition:0.3s;

}

textarea{

height:120px;

}

input:focus,
textarea:focus{

border-color:#3b82f6;

box-shadow:0 0 10px #3b82f6;

}


/* ERROR */

.error{

font-size:12px;

color:#f87171;

}


/* BUTTON */

.send-btn{

width:100%;

padding:14px;

border:none;

border-radius:6px;

background:linear-gradient(
90deg,
#3b82f6,
#2563eb
);

color:white;

font-weight:bold;

cursor:pointer;

transition:0.3s;

}

.send-btn:hover{

transform:translateY(-2px);

box-shadow:0 5px 20px rgba(59,130,246,0.5);

}


/* FOOTER */

footer{

margin-top:80px;

padding:40px 20px;

border-top:1px solid rgba(255,255,255,0.1);

}


.footer-container{

max-width:1000px;

margin:auto;

display:flex;

justify-content:space-between;

flex-wrap:wrap;

gap:40px;

}


.footer-col h4{

margin-bottom:10px;

}


.footer-col ul{

list-style:none;

padding:0;

}


.footer-col ul li{

margin-bottom:8px;

color:#94a3b8;

}


.socials a{

margin-right:10px;

color:white;

font-size:20px;

}


.copyright{

text-align:center;

margin-top:30px;

color:#64748b;

}


/* MOBILE */

@media(max-width:700px){

.footer-container{

flex-direction:column;

text-align:center;

}

}